@charset "UTF-8";
/*全体の設定*/
html {
  font-size: 16px;
}

body {
  padding-top: 5rem;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

img {
  width: 100%;
}
/*全体の設定終了*/

/*ヘッダー*/

/*ヘッダー終了*/

/*メイン*/

#betashort-lab h2{
  border-bottom: 5px solid #87cefa;
  border-left: 10px solid #87cefa;
}
#blog-img{
  float: left;
  width:30%;
}
#blog-comment{
  float: right;
  padding-left: 3rem;
  width: 70%;
}
#betashort-lab:after{
  content: "";
  display: block;
  clear: both;
  margin-bottom: 5rem;
}

#galary h2{
  border-bottom: 5px solid ;
  border-left: 10px solid ;
}
/*メイン終了*/
/*フッター*/
footer nav ul#footer-categoly{
  float: left;
  width: 33%;
}
footer nav ul#footer-categoly li {
  padding: 0;
  color: #404040;
  border-left: solid 6px #1fa67a;
  /*左側の線*/
  border-bottom: solid 2px #dadada;
  /*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;
  /*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none;
  /*ポチ消す*/
}

footer div#copylight {
  clear: left;
  border-top: 1px solid #d3d3d3;
}

footer div#copylight ul li{
  margin: auto;
  list-style-type: none;
}
/*フッター終了*/
