@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  padding-top: 5rem;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

img {
  width: 100%;
}

footer nav ul{
  margin: auto;
  padding-left: 0;
  list-style-type: none;
}

footer nav ul li {
  float: left;
  width: 155px;
  margin-left: 2px;
  text-align: center;
}

footer nav ul li:last-child {
  margin-right: 0;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

footer nav ul li a{
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

footer nav ul li a:hover,
footer nav ul li a:active,
footer nav ul li.current a{
  background-color: #d3d3d3;
}

footer p#copylight{
  border-top: 1px solid #d3d3d3;
}
